body {color: green;
  background-color: yellow;
     font-size: 14px;
   }


   h1{
     color: blue;
     font-size: 30 px;
          text-align: center;

   }
   header h2 {
     text-align:  center:

   }
  p{  font-size: 15px;

  }


   li   {
        font-style: italic;
